/* General Styles */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(7, 6, 6);
}
/* End Of General Styles */


/* Header Styles */
header{
    background: var(--degraded);
    text-align: center;   
}

header .logo{
    user-select: none;
    animation-name: logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 250px;
    height: auto;
}
/* End Of Header Styles */


/* Article Styles */
article .title {
    user-select: none;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 32px 0 -5px 0;
    color: white;
}

article .carousel{
    min-height: var(--size-card);
}

article .carousel .carousel-item{
    user-select: none;
    width: var(--size-card);
    height: var(--size-card);
}

article .carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* End Article Styles */


/* Styles Of Carousel Indicators  */
.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 8px;
    background: black;
    border: 1px solid white;
}
/* Styles Of Carousel Indicators  */


/* Styles Footer */
footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--degraded);
}

footer .social{
    width: 400px;
    display: flex;
    justify-content: center;
}

footer .social .social-icon{
    width: 30px;
    margin: 10px 10px 5px 10px;
}
/* End Of Styles Footer */


/* Logo animation */
@keyframes logo{
    0%{
        
        transform: translateX(0px);
    }
    25%{
        transform: translateX(50px);
    }
    75%{
        transform: translateX(-50px);
    }
    100%{
        transform: translateX(0px);
    }
}
/* End Of Logo animation */