body{
    background-color: rgba(0, 0, 0, 0.842);
}


.card{
    margin: 2% 4%;
    display: inline-block;
}

.horizontal{
    height: 250px;
}

.vertical{
    height: 550px;
}

footer{
    display: flex;
    justify-content: center;
    margin: 2% 0 0 0;
    color: white;
    background-color: black;
}

.navbar{
    padding: 10px;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 81, 255) 0%, rgb(255, 0, 0) 100%)1;
}

footer{
    width: auto;
    height: auto;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 81, 255) 0%, rgb(255, 0, 0) 100%)1;
}

.social{
    width: 400px;
    display: flex;
    justify-content: center;
}

.social__icon{
    width: 30px;
    margin: 0 10px;
}

