body{
    background-color: #212529;
}


h3{
	color: white;
	padding-top: 60px;
}


.navbar{
	position: fixed;
	z-index: 100;
	width: 100%;
    padding: 10px;
	margin-top: -30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 81, 255) 0%, rgb(255, 0, 0) 100%)1;
	
}

footer{
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 81, 255) 0%, rgb(255, 0, 0) 100%)1;
}

.social{
    width: 400px;
    display: flex;
    justify-content: center;
}

.social__icon{
    width: 30px;
    margin: 0 10px;
}

.full-width {
	max-width: 1006px;
	margin: 20px auto 20px auto;
	display: flex;
}

.col-md-3 {
	width: 100%;
	margin-top: 10px;
}



img{
	width: 100%;
}

/* ---- Card View ---- */
.card-view {
	background: white;
	float: left;
	width: 325px;
	margin: 5px;

}

.container {
	border: 1px solid #efefef;
	padding-top: 5px;
	text-align: center;
}

.bg-vertical {
	display: block;
	overflow: hidden;
	max-height: 400px;
	max-width: 392px;
	background: rgb(24, 25, 44);
}

.bg-vertical img {
	-webkit-transform: translate3d(0,-5px,0);
	transform: translate3d(0,-5px,0);
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
}

.bg-vertical:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}


.bg-horizontal {
	display: block;
	overflow: hidden;
	max-height: 165px;
	max-width: 392px;
	background: rgb(24, 25, 44);
}

.bg-horizontal img {
	-webkit-transform: translate3d(0,-5px,0);
	transform: translate3d(0,-5px,0);
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
}

.bg-horizontal:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}


button{
	border: 0;
	padding: 0;
}


@media screen and (max-width: 400px){

	.full-width {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-view {
		background: white;
		float: left;
		width: auto;
		margin: 5px;
	
	}

	.bg-vertical {
		max-height: 500px;
		max-width: 400px;
	}

	.bg-horizontal {
		max-height: 250px;
		max-width: 400px;
	}

}


@media screen and (max-width: 575px) and (min-width: 401px){

	.full-width {
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-view {
		background: white;
		float: left;
		width: auto;
		margin: 5px;
	
	}
	
	.bg-vertical {
		max-height: 580px;
		max-width: 450px;
	}

	.bg-horizontal {
		max-height: 250px;
		max-width: 450px;
	}
}

@media screen and (max-width: 719px) and (min-width: 576px){

	.full-width {
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-view {
		background: white;
		float: left;
		width: 540px;
		margin: 5px;
	
	}

	.bg-vertical {
		max-height: 750px;
		max-width: 550px;
	}

	.bg-horizontal {
		max-height: 250px;
		max-width: 550px;
	}
	

}

@media screen and (max-width: 819px) and (min-width: 720px){

	.full-width {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-view {
		background: white;
		float: left;
		width: 340px;
		margin: 5px;
	
	}
	

}

@media screen and (max-width: 1021px) and (min-width: 820px) {

	.full-width {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-view {
		background: white;
		float: left;
		width: 390px;
		margin: 5px;
	
	}


}